FACEBOOK_ID=Skip
FACEBOOK_SECRET=Skip
FACEBOOK_CALLBACK=http://localhost:3000/auth/facebook/callback
SESSION_SECRET=ThisIsMySecret
MONGODB_URI="mongodb+srv://account:password@exemple.mongodb.net/restaurant-list?retryWrites=true&w=majority"
PORT=3000